<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>BMI 계산기</title>
</head>
<body>
  <h1>BMI 계산기</h1>
<form action="bmi_output" method="POST">
  <p>
    Enter your name:<input type="text" name="name" /><br />
    Enter your height:<input type="text" name="height" /><br />
    Enter your weight:<input type="text" name="weight" />
  </p>
  <p>
    <input type="submit" value="Calculate BMI!" />
  </p>
</form>
</body>
</html>


