<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Grade Input</h1>
    <form action="/grade_output" method="POST">
      <p>
        Name<input type="text" name="Name" />
      </p>
      <p>
        Physics<input type="text" name="physics" />
      </p>
      <p>
        Chemistry<input type="text" name="chemistry" />
      </p>
      <p>
        Maths<input type="text" name="mathematics" />
      </p>
      <p>
        <input type="submit" value="Submit" />
      </p>
    </form>
  </body>
</html>
