<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
  </head>
  <body>
    <h1>개발해봅시다.</h1>
    <div>
      <li>
        Hello your name<ul>
          <li>
            <a href="/hello/동희님">인사하러 갑시다</a>
          </li>
        </ul>
      </li>
      <li>
        BMI 계산기<ul>
          <li>
            <a href="/bmi_input">BMI 계산하러 갑시다</a>
          </li>
        </ul>
      </li>
      <li>
        GRADE 계산기<ul>
          <li>
            <a href="/grade_input">GRADE 계산하러 갑시다</a>
          </li>
        </ul>
      </li>
      <li>
        Tax 계산기<ul>
          <li>
            <a href="/tax_input">Tax 계산하러 갑시다</a>
          </li>
        </ul>
      </li>
      <li>
        원리금 월 상환액 계산기<ul>
          <li>
            <a href="/loan_input">월 상환액 계산하러 갑시다</a>
          </li>
        </ul>
      </li>
      <li>
        CSS Simply<ul>
          <li>
            <a href="/simplyme">Simply Me</a>
          </li>
        </ul>
      </li>
    </div>
  </body>
</html>
