<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1 class="text-center">월 상환액 계산 결과</h1>

  <h3 class="text-center">원리금 균등상환</h3>
  <p>The investment amount : ${{ investment }}<br> </p>
  <p>The number of years : {{ years }}<br> </p>
  <p>The rate as a % : {{ percent }}<br> </p>

  <p>Your Monthly Payment : ${{ payment }}<br> </p>
  <p>Total Cost : ${{ cost }}<br> </p>


  
</body>
</html>