<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>loan</title>
</head>
<body>
  <h1>원리금 균등상환 월상환액 계산기</h1>
  <form action="loan_output" method="post">
    <p>Enter the investment amount : <input type="text" name="investment" placeholder="숫자만 입력하세요"><br> </p>
    <p>Enter the number of years : <input type="text" name="years" placeholder="숫자만 입력하세요"><br> </p>
    <p>Enter the rate as a % : <input type="text" name="percent" placeholder="숫자만 입력하세요"><br> </p>
    <input type="submit" value="계산하기">
  </form>
</body>
</html>