<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <h1>세금 계산기</h1>
  <form action="tax_output" method="post">
    <p>Enter the gross income : <input type="text" name="income" placeholder="숫자만 입력하세요"><br> </p>
    <p>Enter the number of dependents : <input type="text" name="dependents" placeholder="숫자만 입력하세요"><br> </p>
    <input type="submit" value="계산하기">
  </form>

</body>

</html>